/*:::::::::::::::::::::::::::::::::::::::::::::::: Ads ::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Hide Ads :::*/
[class*="huckster"],
[id*="huckster"] {
  display: none !important;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::: Shop ::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Hide Shop :::*/
[id*="header-shop"],
.popover-shop {
  display: none;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::: VIP ::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Hide VIP :::*/
a[href*="/vip/"],
a[href*="/widgets"],
a[href*="/year"],
a[href*="/forums"],
a[class*="dark-knight"],
[data-tooltip="RSS Feed"],
[data-tooltip="iCal Feed"],
[data-tooltip="CSV Export"],
[data-tooltip="Notifications"],
[data-title="Create a custom calendar"],
[data-title="Clone into your account"] {
  display: none !important;
}

#user-menu ul li.separator {
  margin-top: -3px !important;
  border-top: 0 !important;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::: Pheader ::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Profile Header :::*/
#cover-wrapper .full-bg {
  background-image: url("/*[[url]]*/") !important;
}

#cover-wrapper #backdrop-info {
  display: none !important;
}
