@-moz-document regexp("https?://trakt.tv/.*") {
/* ++----------------------------------------------------------------------------------++ */
/* ||                                                                                  || */
/* ||* Name        : Trakt Dark                                                        || */
/* ||                                                                                  || */
/* ||* Author      : JourneyOver                                                       || */
/* ||                                                                                  || */
/* ||* Created     : 03 / 17 / 2016                                                    || */
/* ||                                                                                  || */
/* ||* Updated     : 00 / 00 / 201X                                                    || */
/* ||                                                                                  || */
/* ||* Version     : 3.0.0                                                             || */
/* ||                                                                                  || */
/* ||* Copyright   : 2016-2018                                                         || */
/* ||                                                                                  || */
/* ++----------------------------------------------------------------------------------++ */
}

@-moz-document regexp("https?://trakt.tv/.*") {
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: SETTINGS :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

:root {
  /* Normal colors */
  --bg: #1d1e22 !important; /* var(--bg) */
  --border: #000102 !important; /* var(--border) */
  --normaltxt-1: #888 !important; /* var(--normaltxt-1) */
  --normaltxt-2: #ebebeb !important; /* var(--normaltxt-2) */
  --hovertxt: #ebebeb !important; /* var(--hovertxt) */
  --transparent: rgba(29, 30, 34, .65) !important; /* var(--transparent) */

  /* Button colors */
  --button-bg: #1d1e22 !important; /* var(--button-bg) */
  --button-border: #000102 !important; /* var(--button-border) */
  --button-txt: #888 !important; /* var(--button-txt) */
  --button-boxshadow: rgba(0, 0, 0, .75) !important; /* var(--button-boxshadow) */
  --button-hoverbg: #2c2c33 !important; /* var(--button-hoverbg) */
  --button-hovertxt: #ebebeb !important; /* var(--button-hovertxt) */

  /* Various Other Colors */
  --color-grey: #3A3A3A !important; /* var(--color-grey) */
  --color-white: #FFFFFF !important; /* var(--color-white) */
  --color-red: #ED1C24 !important; /* var(--color-red) */
  --color-dkeppel: #16a085 !important; /* var(--color-dkeppel) */
  --color-blue: #009edf !important; /* var(--color-blue) */
  --color-black: #000 !important;             /* var(--color-black) black  */
  --color-purple: #8e44ad !important;             /* var(--color-purple) purple  */
  --color-lbgrey: #6e7a83 !important;             /* var(--color-lbgrey) light blue-grey  */

  /* Scroll Bar colors */
  --scrollbar-color: #333 !important; /* var(--scrollbar-color) */
  --scrollbart-color: #555 !important; /* var(--scrollbart-color) */
}
}

@-moz-document regexp("https?://trakt.tv/.*") {
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: Main Globals :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Thinner/Darker Scroll bar :::*/
::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-color) !important;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;

  background-color: var(--scrollbar-color) !important;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px !important;
  border-radius: 2px !important;

  background: var(--scrollbart-color) !important;
}

/*::: Trakt Dark Version :::*/
[class="trakt"]::after {
  white-space: pre !important;

  content: "\A                Trakt Dark Ver. 3.0.0" !important;
}

/*[[Ads]]*/

/*[[Shop]]*/

/*[[VIP]]*/
}

@-moz-document regexp("https?://trakt.tv/auth/.*") {
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: JOIN & SIGN IN Page :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: backgrounds & texts :::*/
#auth-form-wrapper,
#auth-form-wrapper .auth-services-wrapper,
#auth-form-wrapper .bottom-wrapper {
  border-top: 0 !important;
  border-radius: 1px !important;

  color: var(--normaltxt-1) !important;
  background-color: var(--bg) !important;
}

/*::: inputs :::*/
input#user_email.string.email.required.top.form-control,
input#user_login.string.required.top.form-control,
input#user_password.password.required.bottom.form-control,
input#user_password.password.required.middle.form-control,
input#user_password_confirmation.password.required.bottom.form-control,
input#user_username.string.required.middle.form-control {
  border: 1px solid var(--border) !important;

  color: var(--normaltxt-1) !important;
  background-color: var(--bg) !important;
}

input#user_email.string.email.required.top.form-control::-webkit-input-placeholder,
input#user_password.password.required.middle.form-control::-webkit-input-placeholder,
input#user_password_confirmation.password.required.bottom.form-control::-webkit-input-placeholder,
input#user_username.string.required.middle.form-control::-webkit-input-placeholder {
  color: var(--normaltxt-1) !important;
}

input#user_email.string.email.required.top.form-control::-moz-placeholder,
input#user_password.password.required.middle.form-control::-moz-placeholder,
input#user_password_confirmation.password.required.bottom.form-control::-moz-placeholder,
input#user_username.string.required.middle.form-control::-moz-placeholder {
  color: var(--normaltxt-1) !important;
}

input#user_login.string.required.top.form-control::-webkit-input-placeholder,
input#user_password.password.required.bottom.form-control::-webkit-input-placeholder {
  color: var(--normaltxt-1) !important;
}

input#user_login.string.required.top.form-control::-moz-placeholder,
input#user_password.password.required.bottom.form-control::-moz-placeholder {
  color: var(--normaltxt-1) !important;
}

.form-control:focus {
  border-color: var(--normaltxt-1) !important;

  outline: 0 !important;
  box-shadow: 0px 0px 4px 1px var(--color-red) !important;
}

/*::: Logo :::*/
#auth-form-wrapper .logo-wrapper .logo {
  background: url("https://raw.githubusercontent.com/StylusThemes/Trakt-Dark/master/images/logos/dark_logo_(400_x_400).png") no-repeat !important;
  background-size: 128px 128px !important;
}
}

@-moz-document regexp("https?://trakt.tv/welcome/.*") {
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: Welcome Page :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Avatar Image :::*/
body.welcome #avatar-wrapper img.avatar,
body.welcome #avatar-wrapper .dropzone {
  border: 2px solid var(--border) !important;
  border-radius: 0 !important;
}

/*::: Text Forms & Dropdown Menu :::*/
body.welcome .form-inputs,
body.welcome .form-inputs .form-control,
body.welcome .form-inputs input[type=text] {
  border: 0 !important;

  color: var(--normaltxt-2) !important;
  background-color: var(--bg) !important;
}

/*::: Buttons :::*/
body.welcome .genres .genre.enabled .inner,
body.welcome .shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button {
  border: 1px solid var(--button-border) !important;

  color: var(--button-txt) !important;
  background: var(--button-bg) !important;

  box-shadow: 1px 1px 5px 1px var(--button-boxshadow) !important;
}

body.welcome .shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button:hover {
  color: var(--button-hovertxt) !important;
  background: var(--button-hoverbg) !important;

  box-shadow: 1px 1px 5px 1px var(--button-boxshadow) !important;
}

/*::: welcome/3 popup info :::*/
body.welcome .shepherd-element.shepherd-theme-arrows .shepherd-content {
  color: var(--normaltxt-2) !important;
  background-color: var(--bg) !important;
}

/*::: View more tv shows/movies hover :::*/
body.welcome .view-more:hover {
  border: var(--border) !important;

  color: var(--button-hovertxt) !important;
  background: var(--button-hoverbg) !important;

  box-shadow: 1px 1px 5px 1px var(--button-boxshadow) !important;
}
}

@-moz-document regexp("https?://trakt.tv/.*") {
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: Globals :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Header Search :::*/
#header-search,
header#top-nav #header-search #header-search-button.btn-primary {
  background: var(--bg) !important;
}

#header-search,
#header-search:hover,
header#top-nav #header-search #header-search-button.btn-primary,
header#top-nav #header-search #header-search-button.btn-primary:hover {
  border: 1px solid var(--border) !important;

  color: var(--normaltxt-1) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

header#top-nav #header-search #header-search-query {
  background: transparent !important;
}

header#top-nav #header-search #header-search-query.open {
  color: var(--normaltxt-2) !important;
  background: transparent !important;
}

header#top-nav #header-search #header-search-type.shown .dropdown-toggle {
  border-left: transparent !important;

  color: var(--normaltxt-2) !important;
  background: transparent !important;
}

header#top-nav #header-search #header-search-type.shown .dropdown-menu {
  background: var(--bg) !important;
}

header#top-nav #header-search #header-search-type a {
  color: var(--normaltxt-2) !important;
  background: var(--bg) !important;

  cursor: pointer !important;
}

header#top-nav #header-search #header-search-type a:hover {
  color: var(--color-red) !important;
  background: var(--bg) !important;
}

/*::: Navigation Menu :::*/
#user-menu,
.no-touch header#top-nav,
.no-touch header#top-nav:hover {
  background: var(--transparent) !important;
}

/*::: Navigation AVA :::*/
header#top-nav .navbar-nav.navbar-right .btn .avatar {
  border-radius: 0 !important;
}

/*::: Alert & Toast :::*/
#toast-container.toast-top-full-width .toast.toast-success,
.alert {
  border: 1px solid var(--color-black) !important;

  color: var(--normaltxt-1) !important;
  background-color: transparent!important;
}
/*::: Logo IMG :::*/
#top-brand img,
.trakt-full img {
  visibility: hidden !important;
}

#top-brand {
  width: 65px !important;
  height: 65px !important;

  background: url("https://raw.githubusercontent.com/StylusThemes/Trakt-Dark/master/images/logos/slightly_darkerlight_logo_(65_x_65).png") no-repeat !important;
}

.trakt-full {
  border-bottom: none !important;
  height: 65px !important;

  background: url("https://raw.githubusercontent.com/StylusThemes/Trakt-Dark/master/images/logos/lighter_logo_(65_x_65).png") no-repeat !important;
}

header#top-nav #top-brand .bottom-wrapper .bottom,
.no-touch header#top-nav:hover #top-brand .bottom-wrapper .bottom {
  background: none !important;
}

header#top-nav #top-brand .bottom-wrapper {
  overflow: hidden !important;

  position: static !important;
  bottom: 0 !important;
  z-index: -1 !important;

  width: 65px !important;
  height: 1px !important;
}

/*::: Buttons :::*/
.btn-primary {
  border: 1px solid var(--button-border) !important;

  color: var(--button-txt) !important;
  background: var(--button-bg) !important;

  box-shadow: 1px 1px 5px 1px var(--button-boxshadow) !important;
}

.btn-primary:hover {
  color: var(--button-hovertxt) !important;
  background: var(--button-hoverbg) !important;

  box-shadow: 1px 1px 5px 1px var(--button-boxshadow) !important;
}

/*::: Remove Shade :::*/
#watchnow-wrapper .shade,
#api-wrapper .shade {
  display: none !important;
}

.custom-list .list-info .info .overview[data-readmore][aria-expanded="false"] .shade,
.subnav-text .text[data-readmore][aria-expanded="false"] .shade {
  width: 0 !important;
}

/*::: HP Scrobble & sync
from your media center. :::*/
body.main.home #scrobblers-wrapper {
  height: 0 !important;
}

body.main.home #watching-wrapper .works-with {
  margin-bottom: 40px !important;
}

body.main.home #scrobblers-wrapper .buttons .btn {
  margin-top: -860px !important;
  margin-left: 83% !important;
}

/*::: API Wrapper Top Border :::*/
#api-wrapper {
  border-top: none !important;
}

/*::: Fix size of map-wrapper :::*/
body.main.home #map-wrapper .container,
body.main.home #map-wrapper .full-screenshot, body.main.index #map-wrapper .full-screenshot{
  background-size: 100% 100% !important;
}

/*::: Main Background :::*/
section:not([id*=bottom-stats-wrapper]) {
  color: var(--normaltxt-1) !important;
  background: var(--bg) !important;
}

#main-search,
footer {
  background: var(--bg) !important;
}

#main-search input.footer-search {
  border: 1px solid var(--border) !important;;

  color: var(--normaltxt-1) !important;
  background: transparent !important;
}
}
