// JOIN & SIGN IN Page Logo
#auth-form-wrapper {
  .logo-wrapper {
    .logo {
      background: url("#{$base-url}/dark_logo_(1000x1000).png") no-repeat !important;
      background-size: 128px 128px !important;
    }
  }
}

// Navbar Logo
#top-brand {
  img {
    visibility: hidden !important;
  }
  width: 65px !important;
  height: 65px !important;
  background: url("#{$base-url}/grey_logo_(65x65).png") no-repeat !important;
}

header#top-nav {
  #top-brand {
    .bottom-wrapper {
      .bottom {
        background: none !important;
      }
      overflow: hidden !important;
      position: static !important;
      bottom: 0 !important;
      z-index: -1 !important;
      width: 65px !important;
      height: 1px !important;
    }
  }
}

.no-touch {
  header#top-nav {
    &:hover {
      #top-brand {
        .bottom-wrapper {
          .bottom {
            background: none !important;
          }
        }
      }
    }
  }
}

// Homepage logo
.trakt-full {
  img {
    visibility: hidden !important;
  }
  border-bottom: none !important;
  height: 65px !important;
  background: url("#{$base-url}/light_grey_logo_(65x65).png") no-repeat !important;
}

// search Logo
#main-search {
  .inner {
    background: url("#{$base-url}/footer_search_logo.png") left center no-repeat !important;
  }
}
