/*::: Thinner/Darker Scroll bar :::*/
::-webkit-scrollbar-corner {
  background-color: $scrollbar !important;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
  background-color: $scrollbar !important;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px !important;
  border-radius: 2px !important;
  background: $scrollbart !important;
}
