// main color variables
$bg: #1d1e22;
$altbg: #2a2a31;
$altbg2: #2c2c33;
$border: #000102;
$transparent: rgba(29, 30, 34, .65);
$transparent2: rgba(0, 0, 0, .75);
$transparent3: rgba(0, 0, 0, .5);
$transparent4: rgba(0, 0, 0, .10);

// other color variables
$black: #000;
$blue: #009edf;
$dark: #151515;
$darkgrey: #1d1d1d;
$darkkeppel: #16a085;
$grey: #888;
$grey2: #3A3A3A;
$lightbluegrey: #6e7a83;
$lightgrey: #ebebeb;
$purple: #8e44ad;
$red: #ed1c24;
$white: #fff;
$whitedark: #bbb;

// scrollbar color variables
$scrollbar: #333;
$scrollbart: #555;
